{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-white">The Climb Times</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a href="/"><i class="nav-link fas fa-home">Home <span class="sr-only">(current)</span></i></a>
      </li>
      <li class="nav-item">
        <a  href="/articles"><i class="nav-link far fa-newspaper">Saved Articles</i></a>
      </li>
    </ul>
    <button type="button" class="btn btn-success mr-2 my-lg-1 my-sm-3" id="scrape-btn">Collect New Articles</button>
    <button type="button" class="btn btn-success" id="clear-btn">Clear Articles</button>
  </div>
</nav>
    
{{!-- Jumbotron --}}
<div class="jumbotron jumbotron-fluid shadow">
    <div class="container">
      <h1 class="display-4 text-white">The Climb Times</h1>
      <p class="lead text-white">Save and comment on your favorite rock climbing articles from the NY Times.</p>
    </div>
</div>

{{!-- articles --}}
<div class="container container-fluid my-1">
  <div class="card shadow-sm" id="cardHeader">
    {{!-- article title --}}
    {{#each results}}
      <a href={{this.link}}><h5 class="card-header">{{this.title}} 
        <button type="button" class="btn btn-danger float-right" id="saveBtn">Clear Article</button>
        <button type="button" class="btn btn-primary float-right" id="saveBtn">Comment</button>
      </h5></a>
    {{/each}}
  <div class="card-body">
    {{!-- article body --}}
    {{#each results}}
      <p class="card-text" data-id={{this._id}}>{{this.summary}}</p>
      <img src={{this.image}}
    {{/each}}
    {{!-- image --}}
  </div>
</div>

{{!-- footer --}}
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <p class="text-white text-center mx-auto pt-2">The Climb Times | Esther Hwang 2019</p>
</nav>

</div>